@import url("fonts.css");

.page {
  font-family: "Pt_sans", "Open Sans", sans-serif;
  font-size: .81rem;
  display: flex;
  box-sizing: border-box;
  max-width: 1076.8px;
  margin: 0;
  padding: 1.7rem 2.5rem;
}
.page__left-column {
  box-sizing: border-box;
  width: 37.3%;
  margin: 0 .8rem;
}
.page__right-column {
  box-sizing: border-box;
  margin-left: 2.5rem;

  flex: 1;
}
.page__item {
  margin-top: 2.45rem;
}
.subtitle {
  font-size: 2rem;
  line-height: 2.05;
  display: flex;
  margin-bottom: 0;
  text-align: left;
  letter-spacing: .2rem;
  text-transform: uppercase;
  color: #3d6cb0;

  align-items: center;
}
.subtitle::before {
  width: 4.05rem;
  height: 4.05rem;
  margin-right: .5rem;
  content: '';
}
.subtitle::after {
  width: 3.13rem;
  height: .25rem;
  margin-top: -.4rem;
  margin-right: .7rem;
  margin-left: .3rem;
  content: '';
  background-color: #3c6bb0;

  flex-grow: 1;
  flex-shrink: 0;
}
.subtitle--profile {
  padding-top: 1.75rem;
}
.subtitle--profile::before {
  background: url("../img/profile-icon.png") no-repeat;
  background-size: contain;
}
.subtitle--contact::before {
  background: url("../img/contact-icon.png") no-repeat;
  background-size: contain;
}
.subtitle--skills::before {
  background: url("../img/skills-icon.png") no-repeat;
  background-size: contain;
}
.subtitle--education::before {
  margin-right: 1.1rem;
  background: url("../img/education-icon.png") no-repeat;
  background-size: contain;
}
.subtitle--experience::before {
  margin-right: 1.1rem;
  background: url("../img/experience-icon.png") no-repeat;
  background-size: contain;
}
.subtitle--software::before {
  margin-right: 1.1rem;
  background: url("../img/software-icon.png") no-repeat;
  background-size: contain;
}

.introduce {
  text-align: center;
}
.introduce__photo {
  width: 11.13rem;
  height: 11.13rem;
  margin: 3rem auto 0 auto;
  padding: .69rem;
  border: .89px solid #3d6cb0;
  border-radius: 50%;
  background-color: #3d6cb0;
  background-clip: content-box;
}
.introduce__name {
  font-size: 2.88rem;
  font-weight: normal;
  line-height: 1;
  margin-top: 2rem;
  margin-bottom: 0;
  text-transform: uppercase;
}
.introduce__surname {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1;
  margin: 0;
  letter-spacing: .35rem;
  text-transform: uppercase;
}
.introduce__profession {
  font-size: 1.31rem;
  font-weight: bold;
  line-height: 1;
  margin-top: .5rem;
  text-transform: uppercase;
}

.profile__text {
  margin-top: .5rem;
  margin-right: .67rem;
}
.profile__text--bold {
  letter-spacing: .031rem;
}

.contact__list {
  font-size: 1.1rem;
  padding: .1rem 0;
  border-spacing: 0;
}
.contact__description {
  font-weight: bold;
  width: 40%;
  padding-top: 1.5rem;
  text-transform: uppercase;
  color: #3d6cb0;
}
.contact__value {
  padding-top: 1.5rem;
}

.skills__name {
  font-size: 1.3rem;
  margin-top: 1.1rem;
  margin-bottom: .26rem;
  text-align: center;
  letter-spacing: .05rem;
  text-transform: uppercase;
}
.skills__level {
  line-height: .7;
  margin: 0;
}
.skills__level-item {
  display: inline-block;
  margin-right: .25rem;
}
.skills__dot {
  display: block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #3d6cb0;
}
.skills__dot--gray {
  background-color: #e6e6e6;
}

.summary-items {
  margin-top: 1.3rem;
  margin-bottom: 2.85rem;
  padding-left: 3rem;
  list-style: none;
}
.summary-items__item {
  position: relative;
}
.summary-items__item::before {
  position: absolute;
  top: .2rem;
  left: -2.3rem;
  width: 1.2rem;
  height: 1.2rem;
  content: "";
  border-radius: 50%;
  background-color: #000;
}
.summary-items__header {
  font-size: 1.3rem;
}
.summary-items__degree {
  font-weight: bold;
  margin-right: .8rem;
  letter-spacing: 0.07rem;
  text-transform: uppercase;
  color: #3d6cb0;
}
.summary-items__place {
  font-size: 1.3rem;
  line-height: 1.55;
  text-transform: uppercase;
}
.summary-items__description {
  margin-top: 0;
  margin-bottom: .75rem;
}

.experience__list {
  margin-top: 2.3rem;
}
.experience__list .summary-items__degree {
  font-weight: bold;
  letter-spacing: .08rem;
  color: #000;
}

.software-flex {
  display: flex;
  height: 14.5rem;
  margin-right: .8rem;
  margin-left: .5rem;

  flex-flow: column;
  flex-wrap: wrap;
  align-content: space-between;
}
.software__item {
  width: 44.5%;
}

.software__name {
  font-size: 1.3rem;
  margin-top: 1.35rem;
  margin-bottom: .5rem;
  letter-spacing: .021rem;
  text-transform: uppercase;
}

.software__level {
  height: 1.2rem;
  background-color: #e6e6e6;
}

.software__level span {
  display: inline-block;
  height: 100%;
  transition: width .4s ease-in-out;
  -webkit-animation: animate-stripes 3s linear infinite;
  -moz-animation: animate-stripes 3s linear infinite;
  background-color: #3d6cb0;
  background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
      transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
      transparent 75%, transparent);
  background-size: 40px 40px;
}

@-webkit-keyframes animate-stripes {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 80px 0;
  }
}

@-moz-keyframes animate-stripes {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 80px 0;
  }
}

@media screen and (max-width: 948px) {
  .skills__level {
    padding-left: 0;
    text-align: center;
  }
}

@media screen and (max-width: 886px) and (min-width: 842px) {
  .summary-items__period {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 842px) {
  .page {
    display: block;
  }
  .page__left-column,
  .page__right-column {
    width: 80%;
    margin: 0 auto;

    flex: none;
  }
}