@import '../../styles/variables/colors.scss';
@import '../../styles/mixins/linear-gradient.scss';

.software-item {
  flex-basis: 44.2%;

  @media screen and (max-width: 530px) {
    width: 100%;
  }

  &__name {
    font-size: 2.5rem;
    margin-top: 2.1rem;
    margin-bottom: 1.05rem;
    letter-spacing: .02rem;
    text-transform: uppercase;
    word-break: break-all;
  }

  &__level {
    height: 2.1rem;
    background-color: $color-dots;

    span {
      @include linear-gradient($color-gradient, 25%);
      display: inline-block;
      height: 100%;
      transition: width .4s ease-in-out;
      background-color: $color-main;
      background-size: 40px 40px;

      -webkit-animation: animate-stripes 3s linear infinite;
      -moz-animation: animate-stripes 3s linear infinite;
    }
  }
}