mixin software-item(items)
  each item in items
    - var { name, level } = item;

    .software-item
      h3.software-item__name= name
      .software-item__level
        span(style=`width: ${level}%`)