include ../subtitle/subtitle
include ../qualifications/qualifications

mixin education({ modifier, period, description, degree, place })
  section.education
    +subtitle("education")

    .page__qualifications
      ul.qualifications
        - for (var i = 0; i < 4; i += 1)
          +qualifications({ modifier, period, description, degree, place })