include ../subtitle/subtitle
include ../qualifications-item/qualifications-item

mixin education({ degree, place, modifier, description, period })
  section.education
    +subtitle("education")

    .page__qualifications
      ul.education__qualifications
        - for (var i = 0; i < 4; i += 1)
          .education__qualification
            +qualifications-item({ degree, place, modifier, description, period })