section.page__item.education
  +subtitle("education")

  ul.education__list.summary-items
    - for (var i = 0; i < 4; i++)
      +summaryItem({
        degree: "Master degree",
        place: "University name"
      })