doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title My rezume
    link(href="css/style.css", rel="stylesheet")
  body.page
    .page__left-column
      section.page__item.introduce
        .introduce__photo
        p.introduce__name Name here
        p.introduce__surname Surname
        p.introduce__profession Graphic designer

      section.page__item.profile
        h2.subtitle.subtitle--profile Profile
        p.profile__text
          | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
          br
          | Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu 
          b.profile__text--bold
            | pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum.

      section.page__item.contact
        h2.subtitle.subtitle--contact Contact
        table.contact__list
          tr
            td.contact__description Address
            td.contact__value Main Street, City.
          tr
            td.contact__description E-mail
            td.contact__value contact@domain.com
          tr
            td.contact__description Phone
            td.contact__value 555-555-555
          tr
            td.contact__description Website
            td.contact__value www.yourweb.com

      section.page__item.skills
        h2.subtitle.subtitle--skills Skills
        .skills__item
          h3.skills__name Creative
          ul.skills__level
            li.skills__level-item
              span.skills__dot
            li.skills__level-item
              span.skills__dot
            li.skills__level-item
              span.skills__dot
            li.skills__level-item
              span.skills__dot
            li.skills__level-item
              span.skills__dot
            li.skills__level-item
              span.skills__dot
            li.skills__level-item
              span.skills__dot
            li.skills__level-item
              span.skills__dot
            li.skills__level-item
              span.skills__dot
            li.skills__level-item
              span.skills__dot.skills__dot--gray
            li.skills__level-item
              span.skills__dot.skills__dot--gray
            li.skills__level-item
              span.skills__dot.skills__dot--gray

        .skills__item
          h3.skills__name Teamwork
          ul.skills__level
            li.skills__level-item
              span.skills__dot
            li.skills__level-item
              span.skills__dot
            li.skills__level-item
              span.skills__dot
            li.skills__level-item
              span.skills__dot
            li.skills__level-item
              span.skills__dot
            li.skills__level-item
              span.skills__dot
            li.skills__level-item
              span.skills__dot
            li.skills__level-item
              span.skills__dot
            li.skills__level-item
              span.skills__dot
            li.skills__level-item
              span.skills__dot
            li.skills__level-item
              span.skills__dot
            li.skills__level-item
              span.skills__dot.skills__dot--gray

        .skills__item
          h3.skills__name Innovate
          ul.skills__level
            li.skills__level-item
              span.skills__dot
            li.skills__level-item
              span.skills__dot
            li.skills__level-item
              span.skills__dot
            li.skills__level-item
              span.skills__dot
            li.skills__level-item
              span.skills__dot
            li.skills__level-item
              span.skills__dot
            li.skills__level-item
              span.skills__dot.skills__dot--gray
            li.skills__level-item
              span.skills__dot.skills__dot--gray
            li.skills__level-item
              span.skills__dot.skills__dot--gray
            li.skills__level-item
              span.skills__dot.skills__dot--gray
            li.skills__level-item
              span.skills__dot.skills__dot--gray
            li.skills__level-item
              span.skills__dot.skills__dot--gray

        .skills__item
          h3.skills__name Communication
          ul.skills__level
            li.skills__level-item
              span.skills__dot
            li.skills__level-item
              span.skills__dot
            li.skills__level-item
              span.skills__dot
            li.skills__level-item
              span.skills__dot
            li.skills__level-item
              span.skills__dot
            li.skills__level-item
              span.skills__dot
            li.skills__level-item
              span.skills__dot
            li.skills__level-item
              span.skills__dot
            li.skills__level-item
              span.skills__dot
            li.skills__level-item
              span.skills__dot
            li.skills__level-item
              span.skills__dot
            li.skills__level-item
              span.skills__dot.skills__dot--gray

    .page__right-column
      section.page__item.education
        h2.subtitle.subtitle--education Education
        ul.education__list.summary-items
          li.summary-items__item
            .summary-items__header
              span.summary-items__degree Master degree
              span.summary-items__period // Feb 2011 - Jun 2014
            span.summary-items__university University name
            p.summary-items__description Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
          li.summary-items__item
            .summary-items__header
              span.summary-items__degree Master degree
              span.summary-items__period // Feb 2011 - Jun 2014
            span.summary-items__university University name
            p.summary-items__description Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
          li.summary-items__item
            .summary-items__header
              span.summary-items__degree Master degree
              span.summary-items__period // Feb 2011 - Jun 2014
            span.summary-items__university University name
            p.summary-items__description Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
          li.summary-items__item
            .summary-items__header
              span.summary-items__degree Master degree
              span.summary-items__period // Feb 2011 - Jun 2014
            span.summary-items__university University name
            p.summary-items__description Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.

      section.page__item.experience
        h2.subtitle.subtitle--experience Experience
        ul.experience__list.summary-items
          li.summary-items__item
            .summary-items__header
              span.summary-items__degree Company name
              span.summary-items__period // Feb 2011 - Jun 2014
            span.summary-items__university Your job here
            p.summary-items__description Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
          li.summary-items__item
            .summary-items__header
              span.summary-items__degree Company name
              span.summary-items__period // Feb 2011 - Jun 2014
            span.summary-items__university Your job here
            p.summary-items__description Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
          li.summary-items__item
            .summary-items__header
              span.summary-items__degree Company name
              span.summary-items__period // Feb 2011 - Jun 2014
            span.summary-items__university Your job here
            p.summary-items__description Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.

      section.page__item.software
        h2.subtitle.subtitle--software Software
        .software-flex
          .software__item
            h3.software__name Photoshop
            .software__level
              span(style="width: 91%")
          .software__item
            h3.software__name Illustrator
            .software__level
              span(style="width: 70%")
          .software__item
            h3.software__name Indesign
            .software__level
              span(style="width: 56%")
          .software__item
            h3.software__name Dreamweaver
            .software__level
              span(style="width: 84%")
          .software__item
            h3.software__name After effects
            .software__level
              span(style="width: 62%")
          .software__item
            h3.software__name HTML&CSS3
            .software__level
              span(style="width: 91%")