@font-face {
  font-family: Pt_sans;
  src: url("/pt_sans-web-bold-webfont.5e761a38.woff2") format("woff2"), url("/pt_sans-web-bold-webfont.d20c56a6.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Pt_sans;
  src: url("/pt_sans-web-italic-webfont.bfb2f1fb.woff2") format("woff2"), url("/pt_sans-web-italic-webfont.1946a4e2.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: Pt_sans;
  src: url("/pt_sans-web-regular-webfont.e7cd3a89.woff2") format("woff2"), url("/pt_sans-web-regular-webfont.3bdce488.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@-webkit-keyframes animate-stripes {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 80px 0;
  }
}
@-moz-keyframes animate-stripes {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 80px 0;
  }
}
@keyframes animate-stripes {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 80px 0;
  }
}
html {
  max-width: 1920px;
  margin: auto;
  font-family: "Pt_sans", "Arial", sans-serif;
  font-size: 16px;
  color: #000;
  background-color: #fff;
}
@media screen and (max-width: 1600px) {
  html {
    font-size: 10px;
  }
}

body {
  margin: 0;
  font-size: 1.5rem;
}
.contact__list {
  margin-top: 0.5rem;
  margin-bottom: 4.5rem;
  font-size: 1.9rem;
  display: table;
  border-spacing: 0;
}
@media screen and (max-width: 840px) {
  .contact__list {
    margin-left: auto;
    margin-right: auto;
  }
}
.experience__qualifications-wrapper {
  margin: 3.8rem 0 4.85rem 5.2rem;
}
@media screen and (max-width: 380px) {
  .experience__qualifications-wrapper {
    margin-left: 2rem;
  }
}
.experience__qualifications {
  padding: 0;
  list-style: none;
}
@media screen and (max-width: 396px) {
  .experience__qualifications {
    margin-left: 2rem;
  }
}
.experience__qualification-wrapper {
  margin-bottom: 1.1rem;
}
.introduce {
  text-align: center;
}
.introduce__photo {
  width: 19.4rem;
  height: 19.4rem;
  margin: 1.3rem auto;
  padding: 1.4rem;
  border: 0.15rem solid #3d6cb0;
  border-radius: 50%;
  background-color: #3d6cb0;
  background-clip: content-box;
}
@media screen and (max-width: 480px) {
  .introduce__photo {
    width: 11rem;
    height: 11rem;
  }
}
.introduce__name {
  font-size: 5.2rem;
  font-weight: normal;
  line-height: 0.85;
  margin-top: 3.8rem;
  margin-bottom: 0;
  text-transform: uppercase;
  word-break: break-all;
}
@media screen and (max-width: 480px) {
  .introduce__name {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 840px) and (max-width: 1200px) {
  .introduce__name {
    word-break: normal;
  }
}
.introduce__surname {
  font-size: 5.7rem;
  font-weight: bold;
  line-height: 0.8;
  margin: 0;
  letter-spacing: 0.35rem;
  text-transform: uppercase;
  word-break: break-all;
}
@media screen and (max-width: 480px) {
  .introduce__surname {
    font-size: 2.7rem;
  }
}
@media screen and (min-width: 840px) and (max-width: 1200px) {
  .introduce__surname {
    word-break: normal;
  }
}
.introduce__profession {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 0.8;
  margin-top: 1.9rem;
  text-transform: uppercase;
  word-break: break-all;
}
.contact-item {
  display: table-row;
}
.contact-item__description {
  font-weight: bold;
  display: table-cell;
  width: 41%;
  padding-top: 2.6rem;
  text-transform: uppercase;
  color: #3d6cb0;
  letter-spacing: 0.07rem;
  word-break: break-all;
}
@media screen and (min-width: 1200px) {
  .contact-item__description {
    word-break: normal;
  }
}
.contact-item__value {
  display: table-cell;
  word-break: break-all;
}
@media screen and (min-width: 1200px) {
  .contact-item__value {
    word-break: normal;
  }
}
.contact-item__value_type_link {
  text-decoration: none;
  color: #000;
}
.contact-item__value_type_link:hover {
  text-decoration: underline;
  color: #3d6cb0;
}
.profile__text {
  margin-top: 1.3rem;
  margin-bottom: 4.2rem;
  line-height: 1.8rem;
}
.profile__normal-text {
  letter-spacing: 0.005rem;
}
.profile__bold-text {
  font-weight: bold;
  line-height: 1.4rem;
}
.page {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 7.1rem 5.6rem 7.2rem 5.9rem;
}
@media screen and (max-width: 840px) {
  .page {
    display: block;
  }
}
@media screen and (max-width: 480px) {
  .page {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media screen and (max-width: 1200px) {
  .page__left-column {
    flex-shrink: 0.7;
  }
}
.page__right-column {
  margin-left: 7.5rem;
  flex-shrink: 0.675;
}
@media screen and (max-width: 840px) {
  .page__right-column {
    margin-left: 0;
  }
}
@media screen and (max-width: 1200px) {
  .page__right-column {
    flex-shrink: 0.5;
  }
}
.page__introduce {
  margin-left: 1.8rem;
  margin-bottom: 7.6rem;
}
.qualification {
  position: relative;
}
.qualification:before {
  width: 1.9rem;
  height: 1.9rem;
  position: absolute;
  top: 0.7rem;
  left: -4rem;
  content: "";
  border-radius: 50%;
  background-color: #000;
}
.qualification__header {
  font-size: 2.3rem;
  letter-spacing: 0.015rem;
}
.qualification__degree {
  margin-right: 1.3rem;
  font-weight: bold;
  letter-spacing: 0.14rem;
  text-transform: uppercase;
  color: #3d6cb0;
  word-break: break-all;
}
.qualification__degree_type_experience {
  font-weight: bold;
  letter-spacing: 0.18rem;
  color: #000;
}
.qualification__period {
  letter-spacing: 0.02rem;
}
@media screen and (max-width: 600px) {
  .qualification__period {
    display: block;
    font-size: 1.7rem;
  }
}
@media screen and (min-width: 840px) and (max-width: 960px) {
  .qualification__period {
    display: block;
    font-size: 1.7rem;
  }
}
.qualification__place {
  font-size: 2.3rem;
  letter-spacing: 0.015rem;
  line-height: 1.55;
  text-transform: uppercase;
}
.qualification__description {
  margin-top: 0.15rem;
  margin-bottom: 0;
  line-height: 1.25;
}
.education__qualifications-wrapper {
  margin: 2.3rem 0 4.85rem 5.2rem;
}
@media screen and (max-width: 380px) {
  .education__qualifications-wrapper {
    margin-left: 2rem;
  }
}
.education__qualifications {
  padding: 0;
  list-style: none;
}
@media screen and (max-width: 396px) {
  .education__qualifications {
    margin-left: 2rem;
  }
}
.education__qualification-wrapper {
  margin-bottom: 1.1rem;
}
.skills-item__name {
  font-size: 2.5rem;
  font-weight: 400;
  margin-top: 1.55rem;
  margin-bottom: 0.6rem;
  text-align: center;
  text-transform: uppercase;
  word-break: break-all;
}
.skills-item__level {
  line-height: 0.7;
  margin: 0;
  padding-left: 0;
  text-align: center;
}
.skills-item__level-item {
  display: inline-block;
  margin-left: 0.45rem;
  margin-right: 0.45rem;
}
@media screen and (min-width: 840px) and (max-width: 1080px) {
  .skills-item__level-item {
    margin-left: 0.2rem;
    margin-right: 0.2rem;
  }
}
@media screen and (max-width: 480px) {
  .skills-item__level-item {
    margin-left: 0.2rem;
    margin-right: 0.2rem;
  }
}
.skills-item__dot {
  display: block;
  border-radius: 50%;
  background-color: #3d6cb0;
  width: 1.8rem;
  height: 1.8rem;
}
.skills-item__dot_disabled {
  background-color: #e6e6e6;
}
.skills__list {
  margin-top: 2rem;
  margin-bottom: 4.8rem;
}
.software-item {
  flex-basis: 44.2%;
}
@media screen and (max-width: 530px) {
  .software-item {
    width: 100%;
  }
}
.software-item__name {
  font-size: 2.5rem;
  font-weight: 400;
  margin-top: 2.1rem;
  margin-bottom: 1.05rem;
  letter-spacing: 0.02rem;
  text-transform: uppercase;
  word-break: break-all;
}
.software-item__level {
  height: 2.1rem;
  background-color: #e6e6e6;
}
.software-item__completed-level {
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  display: inline-block;
  height: 100%;
  transition: width 0.4s ease-in-out;
  background-color: #3d6cb0;
  background-size: 40px 40px;
  animation: animate-stripes 3s linear infinite;
}
.software__list {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  flex-wrap: wrap;
  height: 28rem;
  margin-left: 0.7rem;
  margin-right: 0.3rem;
}
@media screen and (max-width: 530px) {
  .software__list {
    display: block;
  }
}
.subtitle {
  margin: 0;
  font-size: 3.8rem;
  display: flex;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  color: #3d6cb0;
  align-items: center;
  word-break: break-all;
}
@media screen and (max-width: 480px) {
  .subtitle {
    justify-content: center;
  }
}
.subtitle_type_profile:before {
  background: url(/profile-icon.e61ee65b.png) no-repeat;
}
.subtitle_type_contact:before {
  background: url(/contact-icon.c64b5c0f.png) no-repeat;
}
.subtitle_type_skills:before {
  background: url(/skills-icon.fa220f54.png) no-repeat;
}
.subtitle_type_education:before {
  background: url(/education-icon.d1c784c5.png) no-repeat;
}
.subtitle_type_experience:before {
  background: url(/experience-icon.813d18dd.png) no-repeat;
}
.subtitle_type_software:before {
  background: url(/software-icon.9994a5d8.png) no-repeat;
}
.subtitle:before {
  width: 7.1rem;
  height: 7.1rem;
  margin-right: 1rem;
  content: "";
  flex-shrink: 0;
  background-size: contain;
}
@media screen and (max-width: 380px) {
  .subtitle:before {
    display: none;
  }
}
.subtitle:after {
  height: 0.5rem;
  margin-left: 1.4rem;
  content: "";
  background-color: #3d6cb0;
  flex-grow: 1;
  flex-shrink: 0;
}
@media screen and (max-width: 480px) {
  .subtitle:after {
    content: none;
  }
}

.page__right-column .subtitle {
  letter-spacing: 0.25rem;
}
.page__right-column .subtitle:before {
  margin-right: 1.6rem;
}
.page__right-column .subtitle:after {
  margin-right: 0;
}

/*# sourceMappingURL=/src.e31bb0bc.css.map */