.summary-items {
  margin: 2.3rem 0 2.85rem 5.2rem;
  padding: 0;
  list-style: none;

  @media screen and (max-width: 396px) {
    margin-left: 2rem;
  }

  &__item {
    position: relative;
    margin-bottom: .8rem;

    &:before {
      @include size(1.9rem);
      position: absolute;
      top: .7rem;
      left: -4rem;
      content: "";
      border-radius: 50%;
      background-color: #000;
    }
  }

  &__header,
  &__place {
    font-size: 2.3rem;
    letter-spacing: .015rem;
  }

  &__degree {
    font-weight: bold;
    margin-right: 1.3rem;
    letter-spacing: .14rem;
    text-transform: uppercase;
    color: $color-main;
  }

  &__period {
    letter-spacing: .02rem;

    @media screen and (max-width: 886px) and (min-width: 840px) {
      font-size: 1.1rem;
    }
    @media screen and (max-width: 633px) {
      font-size: 1.1rem;
      display: block;
    }
  }

  &__place {
    line-height: 1.55;
    text-transform: uppercase;
  }

  &__description {
    margin: .1rem .4rem 0 0;
    line-height: 1.25;
  }
}