@mixin font-face($font-family, $font, $type) {
  $weight: 400;
  $style: normal;

  @if $type == bold {
    $weight: 700;
  }
  @else if $type == italic {
    $style: italic;
  }

  @font-face {
    font-family: $font-family;
    src: url('./assets/fonts/#{$font}-#{$type}-webfont.woff2') format('woff2'),
         url('./assets/fonts/#{$font}-#{$type}-webfont.woff') format('woff');
    font-weight: $weight;
    font-style: $style;
  }
}