.profile {
  &__text {
    margin-top: 1.3rem;
    margin-bottom: 4.2rem;
    letter-spacing: -.023rem;
    line-height: 1.2;

    &_bold {
      line-height: .9;
      letter-spacing: .03rem;
    }
  }
}