.profile {
  &__text {
    margin-top: 1.3rem;
    margin-bottom: 4.2rem;
    line-height: 1.8rem;
  }

  &__normal-text {
    letter-spacing: .005rem;
  }

  &__bold-text {
    font-weight: bold;
    line-height: 1.4rem;
  }
}
