@import './mixins/font-face';
@import './mixins/animate-stripes';

@each $type in 'bold', 'italic', 'regular' {
  @include font-face('PTSans', 'pt-sans', $type);
}

@-webkit-keyframes animate-stripes {
  @include animate-stripes;
}

@-moz-keyframes animate-stripes {
  @include animate-stripes;
}

@keyframes animate-stripes {
  @include animate-stripes;
}

html {
  max-width: 1920px;
  margin: auto;
  font-family: 'PTSans', 'Arial', sans-serif;
  font-size: 16px;
  color: #000;
  background-color: #fff;

  @media screen and (max-width: 1600px) {
    font-size: 10px;
  }
}

body {
  margin: 0;
  font-size: 1.5rem;
}
