.skills__name {
  font-size: 1.3rem;
  margin-top: 1.1rem;
  margin-bottom: .26rem;
  text-align: center;
  letter-spacing: .05rem;
  text-transform: uppercase;
}
.skills__level {
  line-height: .7;
  margin: 0;

  @media screen and (max-width: 948px) {
    padding-left: 0;
    text-align: center;
  }
}
.skills__level-item {
  display: inline-block;
  margin-right: .25rem;
}
.skills__dot {
  display: block;
  border-radius: 50%;
  background-color: $color-main;

  @include size(1rem);
}
.skills__dot--gray {
  background-color: $color-dots;
}