.skills {
  &__list {
    margin-top: 2rem;
    margin-bottom: 4.8rem;
  }

  &__name {
    font-size: 2.5rem;
    margin-top: 1.55rem;
    margin-bottom: .6rem;
    text-align: center;
    text-transform: uppercase;
  }

  &__level {
    line-height: .7;
    margin: 0;
    padding-left: 0;
    text-align: center;
  }

  &__level-item {
    display: inline-block;
    margin-left: .45rem;
    margin-right: .45rem;

    @media screen and (min-width: 840px) and (max-width: 1080px) {
      margin-left: .2rem;
      margin-right: .2rem;
    }

    @media screen and (max-width: 480px) {
      margin-left: .2rem;
      margin-right: .2rem;
    }
  }

  &__dot {
    display: block;
    border-radius: 50%;
    background-color: $color-main;
    @include size(1.8rem);

    &--gray {
      background-color: $color-dots;
    }
  }
}