include ./_skills-list

section.skills
  +subtitle("skills")
  .skills__list
    +skillsList([
      {
        name: "Creative",
        level: 9
      },
      {
        name: "Teamwork",
        level: 11
      },
      {
        name: "Innovate",
        level: 6
      },
      {
        name: "Communication",
        level: 11
      }
    ])