mixin introduce({ photo="", name="Name here", surname="Surname", profession="Graphic designer" } = {})
  section.introduce
    .introduce__photo(style=`background-image: url(${photo})`)
    p.introduce__name= name
    p.introduce__surname= surname
    p.introduce__profession= profession