mixin introduce({ photo, name, surname, profession } ={})
  - photo = photo || "";
  - name = name || "Name here";
  - surname = surname || "Surname";
  - profession = profession || "Graphic designer";

  section.introduce
    .introduce__photo(style="background-image: url(" + photo + ")")
    p.introduce__name= name
    p.introduce__surname= surname
    p.introduce__profession= profession