mixin introduce(options={})
  - options.photo = options.photo || "";
  - options.name = options.name || "Name here";
  - options.surname = options.surname || "Surname";
  - options.profession = options.profession || "Graphic designer";

  section.introduce
    .introduce__photo(style="background-image: url(" + options.photo + ")")
    p.introduce__name= options.name
    p.introduce__surname= options.surname
    p.introduce__profession= options.profession