.introduce {
  text-align: center;

  &__photo {
    @include size(19.4rem);
    margin: 1.3rem auto;
    padding: 1.4rem;
    border: .15rem solid $color-main;
    border-radius: 50%;
    background-color: $color-main;
    background-clip: content-box;

    @media screen and (max-width: 480px) {
      @include size(11rem);
    }
  }

  &__name {
    font-size: 5.2rem;
    font-weight: normal;
    line-height: .85;
    margin-top: 3.8rem;
    margin-bottom: 0;
    text-transform: uppercase;

    @media screen and (max-width: 480px) {
      font-size: 2.5rem;
    }
  }

  &__surname {
    font-size: 5.7rem;
    font-weight: bold;
    line-height: .8;
    margin: 0;
    letter-spacing: .35rem;
    text-transform: uppercase;

    @media screen and (max-width: 480px) {
      font-size: 2.7rem;
    }
  }

  &__profession {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: .8;
    margin-top: 1.9rem;
    text-transform: uppercase;
  }
}