include ../components/page/vars
include ../components/page/mixins

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title My rezume
    link(rel="stylesheet", href="/dist/app.css")
  body.page
    include ../components/page/page
    script(src="/dist/app.js")