@import '../colors/colors.scss';

.contact {
  &__list {
    margin-top: .5rem;
    margin-bottom: 4.5rem;
    font-size: 1.9rem;
    display: table;
    border-spacing: 0;

    @media screen and (max-width: 840px) {
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__row {
    display: table-row;
  }

  &__description {
    font-weight: bold;
    display: table-cell;
    width: 41%;
    padding-top: 2.6rem;
    text-transform: uppercase;
    color: $color-main;
    letter-spacing: .07rem;
    word-break: break-all;

    @media screen and (min-width: 1200px) {
      word-break: normal;
    }
  }

  &__value {
    display: table-cell;
    word-break: break-all;

    @media screen and (min-width: 1200px) {
      word-break: normal;
    }
  }

  a.contact__value {
    text-decoration: none;
    color: #000;

    &:hover {
      text-decoration: underline;
      color: $color-main;
    }
  }
}