.contact {
  &__list {
    margin-top: .5rem;
    font-size: 1.9rem;
    display: table;
    border-spacing: 0;

    @media screen and (max-width: 840px) {
      margin: 0 auto;
    }
  }

  &__row {
    display: table-row;
  }

  &__description {
    font-weight: bold;
    display: table-cell;
    width: 41%;
    padding-top: 2.6rem;
    text-transform: uppercase;
    color: $color-main;
    letter-spacing: .07rem;

    @media screen and (max-width: 396px) {
      padding-right: .2rem;
    }
  }

  &__value {
    display: table-cell;
  }

  a.contact__value {
    text-decoration: none;
    color: #000;

    &:hover {
      text-decoration: underline;
      color: $color-main;
    }
  }
}