include ./_contact-list

section.page__item.contact
  +subtitle("contact")

  .contact__list
    +contactList([
      {
        name: "Address",
        value: "Main Street, City."
      },
      {
        name: "E-mail",
        value: "contact@domain.com"
      },
      {
        name: "Phone",
        value: "555-555-555"
      },
      {
        name: "Website",
        value: "www.yourweb.com"
      }
    ])