@import '../../styles/variables/colors.scss';
@import '../../styles/mixins/size.scss';
@import '../../styles/mixins/subtitle-icon.scss';

.subtitle {
  margin: 0;
  font-size: 3.8rem;
  display: flex;
  letter-spacing: .2rem;
  text-transform: uppercase;
  color: $color-main;
  align-items: center;
  word-break: break-all;

  @media screen and (max-width: 480px) {
    justify-content: center;
  }

  &:before {
    @include size(7.1rem);
    margin-right: 1rem;
    content: '';
    flex-shrink: 0;

    @media screen and (max-width: 380px) {
      display: none;
    }
  }

  &:after {
    height: .5rem;
    margin-left: 1.4rem;
    content: '';
    background-color: $color-main;
    flex-grow: 1;
    flex-shrink: 0;

    @media screen and (max-width: 480px) {
      content: none;
    }
  }
}

@include subtitle-icon(profile);
@include subtitle-icon(contact);
@include subtitle-icon(skills);
@include subtitle-icon(education);
@include subtitle-icon(experience);
@include subtitle-icon(software);

.page__right-column {
  .subtitle {
    letter-spacing: .25rem;

    &:before {
      margin-right: 1.6rem;
    }

    &:after {
      margin-right: 0;
    }
  }
}