.subtitle {
  font-size: 2rem;
  line-height: 2.05;
  display: flex;
  margin-bottom: 0;
  letter-spacing: .2rem;
  text-transform: uppercase;
  color: $color-main;

  align-items: center;

  @media screen and (max-width: 396px) {
    justify-content: center;
  }
}
.subtitle::before {
  margin-right: .5rem;
  content: "";

  flex-shrink: 0;
  @include size(4.05rem);

  @media screen and (max-width: 528px) {
    content: none;
  }
}
.subtitle::after {
  margin-right: .7rem;
  margin-left: .3rem;
  content: "";
  background-color: $color-main;

  @include size(3.13rem, .25rem);
  flex-grow: 1;
  flex-shrink: 0;

  @media screen and (max-width: 396px) {
    content: none;
  }
}

@include subtitle-icon(profile);

@include subtitle-icon(contact);

@include subtitle-icon(skills);

@include subtitle-icon(education, 1.1rem);

@include subtitle-icon(experience, 1.1rem);

@include subtitle-icon(software, 1.1rem);