@import '../../styles/variables/colors';
@import '../../styles/mixins/size';

.subtitle {
  margin: 0;
  font-size: 3.8rem;
  display: flex;
  letter-spacing: .2rem;
  text-transform: uppercase;
  color: $color-main;
  align-items: center;
  word-break: break-all;

  @media screen and (max-width: 480px) {
    justify-content: center;
  }

  &_type {
    &_profile:before {
      background: url(./images/profile-icon.png) no-repeat;
    }

    &_contact:before {
      background: url(./images/contact-icon.png) no-repeat;
    }

    &_skills:before {
      background: url(./images/skills-icon.png) no-repeat;
    }

    &_education:before {
      background: url(./images/education-icon.png) no-repeat;
    }

    &_experience:before {
      background: url(./images/experience-icon.png) no-repeat;
    }

    &_software:before {
      background: url(./images/software-icon.png) no-repeat;
    }
  }

  &:before {
    @include size(7.1rem);
    margin-right: 1rem;
    content: '';
    flex-shrink: 0;
    background-size: contain;

    @media screen and (max-width: 380px) {
      display: none;
    }
  }

  &:after {
    height: .5rem;
    margin-left: 1.4rem;
    content: '';
    background-color: $color-main;
    flex-grow: 1;
    flex-shrink: 0;

    @media screen and (max-width: 480px) {
      content: none;
    }
  }
}

.page__right-column {
  .subtitle {
    letter-spacing: .25rem;

    &:before {
      margin-right: 1.6rem;
    }

    &:after {
      margin-right: 0;
    }
  }
}
