@import '../size/size';
@import '../colors/colors';

.qualifications-item {
  position: relative;

  &:before {
    @include size(1.9rem);
    position: absolute;
    top: .7rem;
    left: -4rem;
    content: '';
    border-radius: 50%;
    background-color: #000;
  }

  &__header {
    font-size: 2.3rem;
    letter-spacing: .015rem;
  }

  &__degree {
    margin-right: 1.3rem;
    font-weight: bold;
    letter-spacing: .14rem;
    text-transform: uppercase;
    color: $color-main;
    word-break: break-all;

    &_type_experience {
      font-weight: bold;
      letter-spacing: .18rem;
      color: #000;
    }
  }

  &__period {
    letter-spacing: .02rem;

    @media screen and (max-width: 600px) {
      display: block;
      font-size: 1.7rem;
    }

    @media screen and (min-width: 840px) and (max-width: 960px) {
      display: block;
      font-size: 1.7rem;
    }
  }

  &__place {
    font-size: 2.3rem;
    letter-spacing: .015rem;
    line-height: 1.55;
    text-transform: uppercase;
  }

  &__description {
    margin: .1rem .4rem 0 0;
    line-height: 1.25;
  }
}