mixin contact-item(items)
  each item in items
    - var { name, value, attr } = item;

    .contact-item
      span.contact-item__description= name
      if !attr
        span.contact-item__value= value
      else if attr == "link"
        a.contact-item__value.contact-item__value_type_link(href=`http://${value}`, target="_blank", rel="noopener noreferrer")= value
      else
        a.contact-item__value.contact-item__value_type_link(href=`${attr}: ${value}`, target="_blank", rel="noopener noreferrer")= value
