@each $font-type in bold, italic, regular {
  @include font-face(Pt_sans, pt_sans-web, $font-type);
}

@-webkit-keyframes animate-stripes {
  @include animate-stripes;
}

@-moz-keyframes animate-stripes {
  @include animate-stripes;
}

html {
  width: 1920px;

  @media screen and (max-width: 1200px) {
    font-size: 12px;
  }

  @media screen and (max-width: 840px) {
    width: auto !important;
    font-size: 10px;
  }
}

.page {
  font-family: 'Pt_sans', 'Open Sans', sans-serif;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 0;
  padding: 7.2rem 5.6rem 7.2rem 5.9rem;

  @media screen and (max-width: 840px) {
    display: block;
    width: 100%;
  }

  &__right-column {
    margin-left: 5.8rem;
    flex-shrink: .68;

    @media screen and (max-width: 840px) {
      margin: 0;
    }
  }
}