include ../subtitle/_subtitle
include ../qualifications/_qualification

.page__left-column
  .page__introduce
    include ../introduce/introduce
  include ../profile/profile
  include ../contact/contact
  include ../skills/skills

.page__right-column
  include ../education/education
  include ../experience/experience
  .page__software
    include ../software/software