.page__left-column
  include ../introduce/introduce
  include ../profile/profile
  include ../contact/contact
  include ../skills/skills

.page__right-column
  include ../education/education
  include ../experience/experience
  include ../software/software