.page {
  font-family: "Pt_sans", "Open Sans", sans-serif;
  font-size: .81rem;
  display: flex;
  box-sizing: border-box;
  max-width: 1076.8px;
  margin: 0;
  padding: 1.7rem 2.5rem;

  @media screen and (max-width: 842px) {
    display: block;
  }
}
.page__left-column {
  box-sizing: border-box;
  width: 37.3%;
  margin: 0 .8rem;

  @media screen and (max-width: 842px) {
    width: 80%;
    margin: 0 auto;
  }
}
.page__right-column {
  box-sizing: border-box;
  margin-left: 2.5rem;

  flex: 1;

  @media screen and (max-width: 842px) {
    width: 80%;
    margin: 0 auto;

    flex: none;
  }
}
.page__item {
  margin-top: 2.45rem;
}