@import '../../styles/mixins/font-face';
@import '../../styles/mixins/animate-stripes';

@each $font-type in bold, italic, regular {
  @include font-face(Pt_sans, pt_sans-web, $font-type);
}

@-webkit-keyframes animate-stripes {
  @include animate-stripes;
}

@-moz-keyframes animate-stripes {
  @include animate-stripes;
}

html {
  max-width: 1920px;
  margin: auto;
  font-family: 'Pt_sans', 'Arial', sans-serif;
  font-size: 16px;
  color: #000;
  background-color: #fff;

  @media screen and (max-width: 1600px) {
    font-size: 10px;
  }
}

body {
  margin: 0;
  font-size: 1.5rem;
}

.page {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 7.1rem 5.6rem 7.2rem 5.9rem;

  @media screen and (max-width: 840px) {
    display: block;
  }

  @media screen and (max-width: 480px) {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  &__left-column {
    @media screen and (max-width: 1200px) {
      flex-shrink: .7;
    }
  }

  &__right-column {
    margin-left: 7.5rem;
    flex-shrink: .675;

    @media screen and (max-width: 840px) {
      margin-left: 0;
    }

    @media screen and (max-width: 1200px) {
      flex-shrink: .5;
    }
  }

  &__introduce {
    margin-left: 1.8rem;
    margin-bottom: 7.6rem;
  }
}
