section.experience
  +subtitle("experience")

  .page__qualifications.page__qualifications--experience
    ul.qualifications
      - for (var i = 0; i < 3; i++)
        +qualification({
          modifier: "experience",
          degree: "Company name",
          place: "Your job here"
        })