section.page__item.experience
  +subtitle("experience")

  ul.experience__list.summary-items
    - for (var i = 0; i < 3; i++)
      +summaryItem({
        degree: "Company name",
        place: "Your job here"
      })