section.page__item.software
  +subtitle('software')

  .software-flex
    +softwareItem("Photoshop", 91)
    +softwareItem("Illustrator", 70)
    +softwareItem("Indesign", 56)
    +softwareItem("Dreamweaver", 84)
    +softwareItem("After effects", 62)
    +softwareItem("HTML&CSS3", 91)