mixin skills-item(items)
  each item in items
    - var { name, level } = item;

    .skills__item
      h3.skills__name= name
      ul.skills__level
        - for (var i = 0; i < level; i += 1)
          li.skills__level-item
            span.skills__dot
        - for (var i = 0; i < (12 - level); i += 1)
          li.skills__level-item
            span.skills__dot.skills__dot_disabled