include ./components/_summary-items/_summary-item
include ./components/subtitle/_subtitle

doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="initial-scale=1.0, width=device-width")
    meta(name="description", content="Welcome to the page of my resume graphic designer with knowledge of layout and experience")
    meta(name="keywords", content="resume, graphic designer, photoshop, html, css3")
    title My resume
  body.page
    include ./components/page/page
    script(src="./index.js")