include ./components/_summary-items/_summary-item
include ./components/subtitle/_subtitle

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title My rezume
    link(rel="stylesheet", href="./app.css")
  body.page
    include ./components/page/page
    script(src="./app.js")