$color-main: #3d6cb0;
$color-dots: #e6e6e6;
$color-gradient: rgba(255, 255, 255, .15);

@import './components/_font-face/_font-face.scss';
@import './components/_size/_size.scss';
@import './components/_linear-gradient/_linear-gradient.scss';
@import './components/_animations/_animations.scss';
@import './components/_summary-items/summary-items';

@import './components/page/page';
@import './components/subtitle/subtitle';
@import './components/introduce/introduce';
@import './components/profile/profile';
@import './components/contact/contact';
@import './components/skills/skills';
@import './components/experience/experience';
@import './components/software/software';