$color-main: #3d6cb0;
$color-dots: #e6e6e6;
$color-gradient: rgba(255, 255, 255, .15);

@import './components/_font-face/_font-face';
@import './components/_size/_size';
@import './components/_linear-gradient/_linear-gradient';
@import './components/_animations/_animations';
@import './components/page/page';
@import './components/subtitle/_subtitle-mod';
@import './components/subtitle/subtitle';
@import './components/qualifications/qualifications';
@import './components/introduce/introduce';
@import './components/profile/profile';
@import './components/contact/contact';
@import './components/skills/skills';
@import './components/software/software';