@mixin font-face($font, $type) {
  $weight: 400;
  $style: normal;

  @if $type == Bold {
    $weight: 700;
  }
  @else if $type == Italic {
    $style: italic;
  }

  @font-face {
    font-family: $font;
    src: url('../assets/fonts/#{$font}-#{$type}.woff2') format('woff2'),
         url('../assets/fonts/#{$font}-#{$type}.woff') format('woff'),
         url('../assets/fonts/#{$font}-#{$type}.ttf') format('ttf'),
         url('../assets/fonts/#{$font}-#{$type}.svg') format('svg');
    font-weight: $weight;
    font-style: $style;
  }
}
